@use '/src/sass/dist/vars' as colors
    
.DduGallery
    background: colors.$bg-color
    .container
        box-sizing: border-box
        margin: 0 auto
        max-width: 1100px
        display: flex
        flex-wrap: wrap
        justify-content: center