@use '/src/sass/dist/vars' as colors

.DduPlayer
    min-height: 100vh
    background: colors.$bg-color
    max-width: 100vw
    overflow: auto
    padding: 0 10px
    &__container
        box-sizing: border-box
        margin: 0 auto
        margin-top: 10px
        max-width: 1300px
    &__form
        width: max-content
        margin: 0 auto
        *
            font-family: Montserrat
            font-weight: 400
            font-style: normal
            background: colors.$btn-color
            color: #ffff
            height: 35px
            line-height: 35px
            border-radius: 10px
            text-align: center
            display: inline-block
            vertical-align: middle
            font-size: 18px
            border: none
    &__file-name
        color: black
        margin-left: 10px
        background: none
        font-size: 16px
    &__file-input
        position: absolute
        opacity: 0
        width: 0.1px
        height: 0.1px
        overflow: hidden
        z-index: -1
        &-label
            width: 200px
            background: colors.$btn-color
    span
        color: black
        margin-left: 10px
