.DduCanvas
    position: relative
    background: #000000
    margin-top: 20px
    &__window
        background: #000000
        box-sizing: border-box
        height: 600px
        overflow: auto
        scrollbar-width: none
        &::-webkit-scrollbar
            display: none
        &:hover
            cursor: grab

    &__canvas
        transform: translateX(0px)
        z-index: 0
        background: #000000
