.DduCanvas
    position: relative
    background: #353535
    margin: 20px
    border: solid #000000 1px
    &__window
        background: #353535
        width: 1300px
        height: 600px
        overflow: auto
        &:hover
            cursor: grab
        &_isFullscreen
            &::-webkit-scrollbar
                display: none
    &__canvas
        transform: translateX(0px)
        z-index: 0
    &__fn-bar
        position: sticky
        display: flexbox
        justify-content: space-around
        top: 0
        left: 0

    &__btn
        display: flex
        width: 30px
        height: 30px
        margin: 0 auto
        background: none
        border: none
        &:hover
            transform: scale(1.1)
        svg
            width: 100%
            height: 100%
